@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.soccer-match-card {
		@apply mx-1.5 flex origin-bottom scale-0 items-center justify-center gap-2.5 rounded-xl border-2 border-blue-100 bg-blue-100 bg-opacity-20 fill-iceCold py-3 px-2 text-iceCold opacity-0 shadow-xl backdrop-blur-md duration-700 first-line:backdrop-filter md:gap-4 md:px-5;
	}
	.team-name {
		@apply text-center font-semibold capitalize leading-5 md:mt-0.5 md:min-w-max md:text-lg md:font-bold;
	}
	.caret-icon {
		@apply h-12 w-12 duration-100;
	}
	.increase-icon {
		@apply fill-emerald-500 support:hover:fill-emerald-600;
	}
	.decrease-icon {
		@apply fill-red-500 support:hover:fill-red-600;
	}
	.score-value-input {
		@apply -my-1 h-9 w-9 rounded-md border-transparent bg-transparent text-center text-xl font-bold text-white md:h-10 md:text-2xl;
	}
}

/* CUSTOM STYLES */
/* custom scroll bar */
::-webkit-scrollbar {
	width: 0.8vw !important;
}
::-webkit-scrollbar-thumb {
	background-color: #7775 !important;
	border-radius: 20px !important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #777 !important;
}
::-webkit-scrollbar-track {
	background-color: #5555 !important;
}

/* input type number hidden arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	/* Chrome, Safari, Edge, Opera */
}
input[type='number'] {
	/* Firefox */
	-moz-appearance: textfield;
	appearance: textfield;
}

/* button click active effect */
button:active {
	transform: scale(0.93);
}

/* fixed background */
body {
	background: linear-gradient(to bottom right, transparent 0%, rgba(0, 0, 0, 0.7) 100%), url('../images/bg.webp');
}

/* when visitor tabs select element (keyboard-only) */
:focus-visible:not(#submitBtn) {
	outline: none;
	box-shadow: inset 0 0 0 3px #bdf4f9;
}

/* submit button custom animation duration */
#submitBtn {
	animation-duration: 2s;
}
